<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tags</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/tags/new">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let tag of tags$ | async">
      <ion-item [routerLink]="['/tags', tag.id]">
        <ion-label>
          <h2>{{ tag.name }}</h2>
        </ion-label>
        <ion-badge [style.background-color]="tag.color">{{ tag.color }}</ion-badge>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option [routerLink]="['/tags/edit', tag.id]" color="primary">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="deleteTag(tag.id)" color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
